#Merit_List_Data{
	width: 750px;
	height: 550px;
	overflow: hidden;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    padding: 50px;
}

.Merit_List{
    color: #fff;
    font-size: 18px;
}