
.Admission_Form{
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	padding: 70px;
	margin: 70px;
}
#chk{
	display: none;
}

.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.Admission_Label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin-bottom: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

textarea{
	height: 100px;;
}

.Admission_Form_Input{
	width: 200px;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	margin-left: -0px;
	padding: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
	transition: .2s ease-in;
}
.Admission_Form_button{
	width: 300px;
	height: 40px;
	margin: 10px auto;
	margin-left: 7px;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
	box-shadow: 5px 20px 50px #000;
}
.Admission_p{
	color: #fff;
	transition: .1s ease-in;
	margin-bottom: -15px;
	font-weight: bold;
}
.Admission_Form_Select,#datetime{
	margin: 20px auto;
	width: 200px;
	margin-left: -0px;
}

.Admission_Form_Category{
	color: #fff;
	text-decoration: underline;
}
.Admission_Form_Select_Dept{
	margin: 20px auto;
	width: 300px;
	margin-left: 7px;
}
.Admission_Select_p{
	color: #fff;
	margin-left: 7px;
	margin-bottom: -15px;
	font-weight: bold;
}

.error{
	margin:auto;
}